<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Electro Mart</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      .header__nav__option .sign-in-link {
        font-size: 16px;
        color: #333;
        margin-right: 15px;
        text-decoration: none;
        font-weight: 600;
      }
      .header__nav__option .sign-in-link:hover {
        color: #ff7f50;
      }
      .signup-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .signup-form,
      .signup-image {
        flex: 1;
        padding: 10px;
      }
      .signup-form {
        max-width: 50%;
      }
      .signup-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 40%;
      }
      .signup-image img {
        max-width: 100%;
        height: auto;
      }
      .social-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
      }
      .social-btns button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }
      .spacer {
        height: 30px; /* Adjust the height as needed */
      }
      .form-group label {
        font-size: 0.875rem; /* Decrease label size */
      }
      .form-control {
        font-size: 0.875rem; /* Decrease input text size */
        padding: 0.5rem; /* Decrease padding */
      }
      .btn-primary {
        padding: 0.5rem 1rem; /* Decrease button padding */
        font-size: 0.875rem; /* Decrease button text size */
      }
      .card-title {
        font-size: 1.25rem; /* Decrease card title size */
      }
      .signup-image .sign-in-link {
        color: #333;
        text-decoration: none;
      }
      .signup-image .sign-in-link:hover {
        color: #ff7f50;
      }
      .error-message{
        color: red;
        font-size: 0.75rem;
        display: none;
      }
      .password-field {
  position: relative;
  width: 100%;
  max-width: 300px;
}

#password {
  width: 100%;
  padding-right: 40px; /* Space for the eye icon */
}

#show-password {
  position: absolute;
  top: 60%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

#show-Cpassword {
  position: absolute;
  top: 60%;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

#show-password:hover, #show-Cpassword:hover {
  color: #333;
}

#eye-icon,#confirm-eye-icon{
  position: absolute;
}

input[type="password"]::-ms-reveal {/* Hide the default eye icon for password fields in Microsoft Edge */
  display: none;
}

.form-group {
  position: relative; /* Set the container of the input field to relative */
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
}
#password{
  position: relative;
}

#confirm-password{
  position:relative;
}






    </style>
  </head>
  <body>
    <div class="container mt-5 mb-1">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body signup-section">
              <div class="signup-form">
                <h3 class="card-title text-center">Sign Up</h3>

                <form id="signform" method="post" action="/signup">
                  <div class="form-group">
                    <label for="name">Full Name</label>
                    <input
                      type="text"
                      class="form-control",
                      name="name"
                      id="name"
                      
                      placeholder="Enter Name"
                    />
                    <div id="error1" class="error-message"></div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                      type="email"
                      class="form-control",
                      name="email"
                      id="email"
                      
                      placeholder="Enter email"
                    />
                    <div id="error2" class="error-message"></div>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input
                      type="text"
                      class="form-control",
                      name="phone"
                      id="phone"
                      
                      placeholder="Enter phone number"
                    />
                    <div id="error3" class="error-message"></div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control",
                      class="password-field"
                      name="password"
                      id="password"
                      
                      placeholder="Enter Password"
                      
                    />
                    <span id="show-password" onclick="togglePasswordVisibility('password','eye-icon')">
                      <i class="fas fa-eye" id="eye-icon"></i>
                    </span>
                    <div id="error4" class="error-message"></div>
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control",
                      class="password-field"
                      name="confirm-password"
                      id="confirm-password"
                      
                      placeholder="Confirm Password"
                      
                    />
                    <span id="show-Cpassword" onclick="togglePasswordVisibility('confirm-password','confirm-eye-icon')">
                      <i class="fas fa-eye" id="confirm-eye-icon"></i>
                    </span>
                    <div id="error5" class="error-message"></div>
                  </div>

                  <%if(locals.message && message.length>0){%>
                    <div class="alert alert-danger text-center">
      
                      <%= message %>
                      
                    </div>
                    <%}%>
                    <!---------------------------------------------------->
                    <div class="form-group">
                      <label for="referralCode">Referral Code (Optional):</label>
                      <input type="text" id="referralCode" class="form-control" name="referralCode" placeholder="Enter referral code (Optional)">
                      </div>
                      <!------------------------------------------------------>
                  <div class="d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary">
                      Sign Up
                    </button>
                    <div class="mt-2px">
                      <p>or sign up with</p>
                    </div>
                    <div class="social-btns">
                      <a href="/auth/google" class="btn btn-outline-danger">
                        <img
                          src="img/googlesignup.png"
                          alt="Google Logo"
                          style="width: 24px; height: 24px"
                        />
                      </a>
                    </div>
                  </div>
                </form>
              </div>
              <div class="signup-image">
                <a href="/signup">
                  <img src="img/Designer.jpeg" alt="Shopping Site" />
                </a>
                <div class="text-center mt-2">
                  <a href="/login" class="sign-in-link"
                    >Already registered? Log in</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    

    <script src="/scriptFile/signupFormValidation.js"></script>

</html>
