<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ElectroMart</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://kit.fontawesome.com/16d4885483.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<style>
body {
    background-color: #ffffff;
}
.navbar {
    background-color: #8da7ab;
}
.navbar-aside {
    background-color: #b0d5de;
}
.menu-item a.menu-link {
    color: #310505;
}

.menu-item a.menu-link:hover,
.menu-item a.menu-link.active {
    background-color: #6e7e6e; 
    color: #ffffff;
}
.dropdown-menu {
    background-color: #bb9aaf;
}

.dropdown-item:hover {
    background-color: #33053d;
    color: #ffffff;
}
.logo{
    width: 15px;
    height:50px ;
}
.navbar-aside .aside-top{
    padding: 4px .5rem;
}

.navbar-aside .aside-top .logo{
    margin-top: 5px;
    min-width:60px;
    border-radius: 50%;
}


</style>
</head>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="brand-wrap">
                <img src="/img/logo.png"  class="logo" alt="ElectroMart Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="fas fa-bars"></i>
                </i> </button>
            </div>
        </div>
        <nav>
           

            <div class="sidebar">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    <a class="nav-link" href="/admin/users"><i class="fas fa-users"></i> Customers</a>
                    <a class="nav-link" href="/admin/category"><i class="fas fa-th-list"></i> Category</a>
                    <a class="nav-link" href="/admin/brands"><i class="fas fa-star"></i> Brands</a>
                    <a class="nav-link" href="/admin/addProducts"><i class="fas fa-plus-circle"></i> Add Product</a>
                    <a class="nav-link" href="/admin/products"><i class="fas fa-boxes"></i> Products</a>
                    <a class="nav-link" href="/admin/coupon"><i class="fas fa-tag"></i> Coupon</a>
                    <a class="nav-link" href="/admin/banner"><i class="fas fa-image"></i> Banner</a>
                    <a class="nav-link" href="/admin/orderList"><i class="fas fa-shopping-cart"></i> Orders</a>
                    <a class="nav-link" href="/admin/generate-sales-report"><i class="fas fa-file-invoice"></i> Sales Report</a>

                    
                </nav>
            </div>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/img/admin-logo.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>


        


         
